<div class="col3">
    <div class="col-lg-6">
    <div class="input-group">
      <%= form_tag("/search", method: "post", remote: "true") do %>
        <%= text_field_tag(:keyword) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
