html {
  background: url(background) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden{
  display:none;
}

.red{
  color: red;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.double-padding{
   margin-top:20px;
}
